<!DOCTYPE html>
<html lang="en-US" ng-app="pft">

<head>
</head>

<body>

<div ng-controller="helloCtrl">
    <form novalidate class="simple-form">
        noOfStories: <input type="text" ng-model="request.noOfStories" /><br />
        noOfSamples: <input type="text" ng-model="request.noOfSamples" /><br />
        <input type="submit" ng-click="update(request)" value="Save" />
    </form>
    <pre>form = {{request | json}}</pre>
    <pre>master = {{master | json}}</pre>
</div>


<script src="bower_components/jQuery/dist/jquery.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>